/* .navpanel{
    overflow: hidden;
    background-color: #415e4c;
    width: 100%;
    margin-left: auto;
    height: 70px;
}

.navpanel a{
float: right;
color: white;
display: block;
font-family: Verdana, sans-serif;
text-align: center;
padding: 26px 26px;
text-decoration: none;
}

.navpanel a:hover {
background-color: #304538;

} */

.footer {
    /* position: fixed; */
    bottom: 0;
    overflow: hidden;
    width: 100%;
    font-size: small;
    background-color: black;
    font-family: Verdana, sans-serif;
    color: rgb(226, 225, 225);
    text-align: center;
 }

 main.container-fluid{
    min-height: calc(100vh - 54px - 94px);
 }