<nav class="navbar navbar-expand-md  bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">AAA Wheels</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-light" aria-current="page" routerLink='/home'>Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="#">Emi Calculator</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" href="#">Apply Loan</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link text-light" routerLink='/login'>Login</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main class="container-fluid">
<router-outlet></router-outlet>
</main>
<footer class="footer">
  <br>
  <img style = "height: 68px; margin: -5px 20px; vertical-align: middle; float: left;" src = "assets/images/logo2.png">
  <p>© AAA Wheels 2022. All Rights Reserved.<br>
  <a>Project Gladiator (Larsen & Toubro Infotech Limited)</a></p><br>
</footer>